/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

a.active {
  background-color: aqua;
}

.ui.container.calc {
  margin-top: 1rem;

}

.controls {
  margin: 4px 4px 4px 2px;
}

/* #menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline;
  margin: 10px;
}
#menu li:last-child {
  margin-right: 0;
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
